* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: underline 2px rgba(48, 65, 155, 0.2);
}
p, a, li, input {
    font: 500 14px 'Montserrat', sans-serif;
}
/* 
    HEADER
*/
header {
    height: 102px;
    border-bottom: 1px solid rgba(48, 65, 155, 0.2);
    padding: 0 90px!important;
}
.logo img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.inputs__profile__icn {
    background: #F7F8FC;
    border-top-left-radius: 16px; 
    border-bottom-left-radius: 16px;
    padding: 10px 20px;
}
.inputs-input {
    border: none;
    background: #F7F8FC;
}
.inputs-input:focus {
    outline: none;
}
.inputs__down__arrow, .inputs__exit__icn {
    background: #F7F8FC;
}
.inputs__exit__icn {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.inputs__exit__icn a {
    color: #000;
    text-decoration: none;
}
.inputs__down__arrow {
    border-right: 1px solid rgba(48, 65, 155, 0.2);
}
.alert__container {
    background: rgba(242, 153, 74, 0.07);
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px!important;
}
.alert__container-title {
    column-gap: 15px;
    margin-bottom: 10px;
    align-items: center;
}
.alert__container-title p {
    font-size: 16px;
    margin: 0;
}
.alert__container-title img {
    object-fit: contain;
    object-position: center;
}
.alert__container-link {
    padding-left: 40px;
    font-weight: 600;
    color: #30419B;
}
/* 
    Breadcrumb
*/
.breadcrumb {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 90px!important;
}
.breadcrumb a {
    color: #A2A2B8;
}
.breadcrumb li {
    margin-right: 15px;
}
/* 
    TOP NAV
*/
.top_nav {
    gap: 20px;
    margin-bottom: 30px;
}
.top_nav-content {
    transition: all 0.4s ease;
    background: #F7F8FC;
    height: 122px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 58px;
    text-align: center;
    row-gap: 10px;
}
.top_nav-content:hover {
    transition: all 0.4s ease;
    background: #30419B;
    color: #fff;
}
.top_nav-content {
    color: #000;
    text-decoration: none;
}
.alert__block-title {
    margin-bottom: 30px;
    font: 600 32px 'Montserrat', sans-serif;
}
/* 
    MAIN
*/
.main {
    margin-top: 30px;
    padding: 0 90px 0 90px!important;
}
.main_block {
    background: #F7F8FC;
    border-radius: 16px;
    padding: 30px;
}
.main_block-title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.main_block-cost {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.number_title-block {
    display: flex;
    vertical-align: middle;
}
.number_text {
    color: #A2A2B8;
}
.number_title {
    margin-bottom: 0;
    font: 600 20px 'Montserrat', sans-serif!important;
}
.number_subtitle {
    font-weight: 600!important;
}
.number_link {
    margin-top: 2px;
    font: 600 14px 'Montserrat', sans-serif;
    color: #30419B;
}
.main_block_text {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 30px;
    color: #B1B1C9;
    text-align: center;
    font: 500 16px 'Montserrat', sans-serif;
}
.main_block_text:focus {
    outline: none;
    box-shadow: inset 0 0 3px grey;
}
.main_block_btn {
    transition: all 0.4s ease;
    width: 100%;
    font: 500 16px 'Montserrat', sans-serif;
    color: #fff;
    background: #30419B;
    padding: 30px;
    border-radius: 8px;
    border: none;
}
.main_block-inputs {
    display: flex;
    flex-direction: column;
}
.main_block_btn:hover {
    background: #00407C;
}
.main_inputs {
    display: flex;
    column-gap: 10px;
    height: 100%;
}
.top__nav__small-block {
    width: 331px;
    height: 61px;
}
.top__nav__small-container {
    width: 100%;
    height: 100%;
    background: #30419B;
    border-radius: 16px;
    color: #fff;
    padding: 10px 20px;
}
.top__nav__small-container:hover {
    background: #00407C;
}
/* 
  ICONS HOVER CHANGE  
*/
.nav_content-pokazaniya:hover img {
    content: url('../icn/hover/pokazaniya_hover.svg');
}
.nav_content-nachislen:hover img {
    content: url('../icn/hover/nachisleniya_hover.svg');
}
.nav_content-oplataUslugi:hover img {
    content: url('../icn/hover/oplata_hover.svg');
}
.nav_content-uslugi:hover img {
    content: url('../icn/hover/uslugi_hover.svg');
}
.nav_content-dannie:hover img {
    content: url('../icn/hover/dannie_hover.svg');
}
.nav_content-obrash:hover img {
    content: url('../icn/hover/svyaz_hover.svg');
}
.top__nav__small-menu:hover {
    content: url('../icn/hover/menu_hover.svg');
}
.top__nav__small-arrow:hover {
    content: url('../icn/hover/down_arrow_hover.svg');
}
/* 
    FOOTER
*/
.footer__text-block p{
    color: #A2A2B8;
}